body {
    font-family: serif;
    background-color: #dcdcdc;
    color: #111;
}
.container {
    width: 1200px;
    margin: auto;
}
.header {
    background-color: #4682b4;
    padding: 40px 30px;
    color: #f5fffa;
}
.header h1 {
    font: bold 40px monospace;
    margin-bottom: 10px;
}
.header p {
    font: italic 15px serif;
}
.menu {
    background-color: #483d8b;
}
.menu ul li {
    display: inline-block;
    padding: 10px 0px 10px 30px;
}
.menu a {
    text-decoration: none;
    color: #fff;
}
.content {
    background-color: #f0fff0;
}
.content h2 {
    font: bold 20px monospace;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.content ul {
    margin-bottom: 20px;
}
.content li {
    margin-bottom: 10px;
}
.content a {
    text-decoration: none;
    color: #111;
}
.kiri {
    width: 220px;
    float: left;
    padding: 30px 20px 10px 30px;
}
.label li {
    display: inline-block;
    padding: 7px;
    margin-right: 5px;
    background-color: #7FFFD4;
    color: #000;
}
.article {
    width: 600px;
    float: left;
    background-color: #fffff0;
    padding: 30px 20px 10px 20px;
}
.article .author {
    font-size: 12px;
}
.article p {
    font: normal 15px/22px serif;
    margin-bottom: 15px;
}
.readmore {
    text-align: right;
}
.readmore a {
    font: bold 12px sans-serif;
    background-color: #008080;
    color:  #fff;
    padding: 7px;
}
.kanan {
    width: 220px;
    float: left;
    padding: 30px 20px 10px 30px;
}
.clear {
    clear: both;
}
.footer {
    background-color: #696969;
    color: #fff;
    padding: 30px;
}
.footer h2 {
    font: bold 20px monospace;
    color: #dcdcdc;
    margin-bottom: 10px;
}
.footer a {
    text-decoration: none;
    color: #fff;
}
.footer ul {
    margin-bottom: 20px;
}
.footer li {
    margin-bottom: 10px;
}